In [1]:
import os
import sys
import warnings
import numpy as np
import pandas as pd
import time
import datetime as dt
import re

from IPython.display import display, HTML, clear_output
from IPython.core.interactiveshell import InteractiveShell
import ipywidgets as widgets

from matplotlib import pyplot as plt
import seaborn as sns

from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
warnings.filterwarnings('ignore')
InteractiveShell.ast_node_interactivity = "all"
display(HTML("<style>.container { width:79% !important; }</style>"))

# easier-to-read notebook:
from IPython.display import display, HTML, clear_output
pd.options.display.max_columns = 70
pd.options.display.max_rows = 500
%load_ext autoreload
%autoreload 2

r = re.compile('.*maoz*.')
if len(list(filter(r.match, sys.path))) != 0:
    PHYTECH_DRIVE_PATH = os.environ['PHYTECH_DRIVE_PATH']
    #PHYTECH_DRIVE_PATH = '/Users/maozdotan/Google Drive/My Drive'
    GITHUB_PATH = PHYTECH_DRIVE_PATH + '/GitHub'
    DATA_WD = PHYTECH_DRIVE_PATH + '/Data Integrity/SM anomalies/data'
    CERT_PATH = PHYTECH_DRIVE_PATH + '/Data'
    if CERT_PATH not in sys.path:
        sys.path.append(CERT_PATH)
    from sql_import_export import SqlImporter
    import cert_aws as c
    sql_importer = SqlImporter(database = c.database_research, user = c.user_research, password = c.password_research,
                                host = c.host_research, port = c.port_research, verbose=True)

local aws_cert.py loaded

In [13]:
%reload_ext autoreload
import project_class_data_extract
import logic_parameters# import default_latitude, default_height
from tqdm import tqdm_notebook
from functions import find_not_responding_events,get_project_results,load_project_data,not_responding_logic
#import common_db as cdb

In [ ]:
if (min(df_irr_span_short.sm_val) > probeMaxSM - 0.5) and
                ((max(df_irr_span_short.sm_diff) > sm_hourly_diff*logic_parameters.LOW_RESPONSE_FACTOR)):

In [10]:
p = load_project_data(project_id=854933, min_date=start_date,
                      max_date=yesterday, min_depth=10, max_depth=91, debug=False)
p.territory

'california'

- You call the 'Project' class
- you bring in the data: project.load_sm_project_data
- you apply transformers on the data (to fill missing values, for example): project.apply_transformers()
 - and then you group the TS by depths:
    project.group_data_to_depths()

In [4]:
SM_HOURLY_DIFF_FIRST_DEPTH = 0.5
SM_HOURLY_DIFF_SECOND_DEPTH = 0.25
MIN_IRR_AMOUNT = 1
MAX_RESPONDING_EVENTS = 1
LOW_RESPONSE_FACTOR = 0.5
IRR_SPAN_END_AFTER_X_HOURS = 4


#project_list = [852093, 871812, 851995, 852015]
summary_df = pd.DataFrame()
yesterday = (dt.date.today() - dt.timedelta(days=1)).strftime("%Y-%m-%d")
start_date = (dt.date.today() - dt.timedelta(days=8)).strftime("%Y-%m-%d")
failed_list = []

In [22]:
#project_results = find_not_responding_events(project_data)

query = f"""
    SELECT distinct(pm.project_id)
    FROM projects_metadata pm
    JOIN soil_sensors_metadata ssm
    ON pm.project_id = ssm.project_id
    JOIN project_irrigation_spans_v2 pis
    ON pis.project_id = pm.project_id
    WHERE time_zone like '%Los_Angeles'
    AND season = 2023
    AND type_id IN (90, 91, 92, 98, 117, 118, 124, 127, 135, 137)
    AND start_date >= CAST((CAST('{start_date}' AS timestamp)) AS date)
    AND active=true
    ORDER BY project_id
    """
sql_importer = SqlImporter(query=query, database=c.database_production, user=c.user_production, password=c.password_production,
                                host=c.host_production, port=c.port_production, verbose=True)

sql_importer.get_data()
project_list = sql_importer.data
project_list

Loaded table with 2587 lines from projects_metadata

      project_id
0         848545
1         848547
2         849306
3         849307
4         849370
...          ...
2582      878567
2583      879153
2584      879190
2585      879195
2586      879196

[2587 rows x 1 columns]

In [25]:
summary_df = pd.DataFrame()
yesterday = (dt.date.today() - dt.timedelta(days=1)).strftime("%Y-%m-%d")
start_date = (dt.date.today() - dt.timedelta(days=8)).strftime("%Y-%m-%d")
failed_list = []

project_list = [852093, 871812, 858363]
for p_id in project_list:#['project_id']:#[:-300]:
    #if p_id != 848545:
    #    continue
    try:
        project_data = load_project_data(project_id=p_id, min_date=start_date,
                      max_date=yesterday, min_depth=10, max_depth=91, debug=False)
        if (project_data.df_irrigation.empty):
                continue
        if project_data.valid_project:
            project_df = get_project_results(project_data)
            summary_df = pd.concat([summary_df,project_df],axis=0)
            #display(project_df, summary_df)
        else:
            failed_list.append(p_id)
    except Exception as e:
        print(p_id, e)
        failed_list.append(p_id)
        pass

display(summary_df)
#display(summary_df[(summary_df.not_responding_events_count / summary_df.irrigation_events) > 0.5])

,project_id,sensor_id,area_id,area_name,company_name,crop_name,variety_id,probe_depths,irrigation_events,not_responding_events_count,max_SM_diff,SM_statistics,event_timestamp,support_status,support_updated_at,days_since_task_complete,remarks,link,timezone,territory
0,852093,947777,12530,Farm Unit 5,989,almond,38,"[16.0, 31.0]",3,1,0.55,"{16.0: {'mean': 35.430416666666666, 'std': 2.0...",{2023-05-15 12:30:00},closed,2023-04-01 02:08:05.525108,46,{2023-05-15 12:30:00: probe 31.0 Not respondin...,https://app.phytech.com/12530/62308/852093,America/Los_Angeles,california
0,871812,934741,7367,JAY LLC - 417 Ranch,380,mandarin,443,"[16.0, 31.0]",1,1,0.11,"{16.0: {'mean': 18.281851851851872, 'std': 0.2...",{2023-05-09 12:42:00},new,2023-04-27 08:52:33.235331,20,{2023-05-09 12:42:00: probe 16.0 Not respondin...,https://app.phytech.com/7367/33150/871812,America/Los_Angeles,california
0,858363,878000,10728,Ranch 4860,138,pistachio,8,"[16.0, 31.0]",4,4,0.51,"{16.0: {'mean': 18.823489583333338, 'std': 0.2...","{2023-05-09 07:23:00, 2023-05-15 07:32:00, 202...",closed,2023-05-05 01:11:25.687285,12,{2023-05-15 07:32:00: probe 16.0 Not respondin...,https://app.phytech.com/10728/51753/858363,America/Los_Angeles,california

In [15]:
#df = summary_df[summary_df.irrigation_events!=0].copy()
#summary_df.groupby('project_id').count()
#df[df.project_id==848545]
#display(df[(df.not_responding_events_count / df.irrigation_events) > 0.5])
summary_df.shape

NameError: name 'summary_df' is not defined

In [30]:
summary_df['percent_not responding'] = summary_df.apply(lambda row: (row.not_responding_events_count / row.irrigation_events) if row.irrigation_events>0 else 0, axis=1)
summary_df.to_csv(DATA_WD+'/summary_df3.csv')

In [41]:
proj_data = load_project_data(project_id=849883, min_date=start_date,
                      max_date=yesterday, min_depth=10, max_depth=91, debug=False)

In [29]:
def find_projects_with_faulty_sensors(df):
    failed_sensors_list = []
    filtered_df = df[(df['percent_not responding'] > 0.9) & (df.max_SM_diff < 0.5)]
    failed_sensors_list = list(filtered_df.sensor_id.values)
    return(failed_sensors_list)

summary_df['percent_not responding'] = summary_df.apply(lambda row: (row.not_responding_events_count / row.irrigation_events) if row.irrigation_events>0 else 0, axis=1)
df_project['percent_not responding'] = df_project.apply(lambda row: (row.not_responding_events_count / row.irrigation_events) if row.irrigation_events>0 else 0, axis=1)
find_projects_with_faulty_sensors(summary_df)

[934741, 878000]

In [19]:
df_project = test_project_data(858363, debug=True, sql_debug=False)
df_project
df_project['remarks'][0]
df_project['SM_statistics'][0]

https://app.phytech.com/10728/51753/858363

,project_id,amount,start_ts,end_ts,psi,start_date,start,end,system_type
0,858363,23.534539,1683642180000,1683726840000,16.098622,2023-05-09,2023-05-09 07:23:00,2023-05-10 06:54:00,drip
2,858363,22.967442,1683816660000,1683899280000,18.274112,2023-05-11,2023-05-11 07:51:00,2023-05-12 06:48:00,drip
3,858363,10.824887,1684161120000,1684200060000,18.274112,2023-05-15,2023-05-15 07:32:00,2023-05-15 18:21:00,drip
4,858363,5.971201,1684227120000,1684248600000,19.579405,2023-05-16,2023-05-16 01:52:00,2023-05-16 07:50:00,drip

irrigation event: project_id                  858363
amount                   23.534539
start_ts             1683642180000
end_ts               1683726840000
psi                      16.098622
start_date              2023-05-09
start          2023-05-09 07:23:00
end            2023-05-10 06:54:00
system_type                   drip
Name: 0, dtype: object
2023-05-09 07:23:00

probe_depth 16.0
            local_time  sm_val  sm_diff        date
0  2023-05-09 06:00:00   19.36    -0.02  2023-05-09
1  2023-05-09 07:00:00   19.38     0.02  2023-05-09
2  2023-05-09 08:00:00   19.37    -0.01  2023-05-09
3  2023-05-09 09:00:00   19.38     0.01  2023-05-09
4  2023-05-09 10:00:00   19.38     0.00  2023-05-09
5  2023-05-09 11:00:00   19.30    -0.08  2023-05-09
6  2023-05-09 12:00:00   19.32     0.02  2023-05-09
7  2023-05-09 13:00:00   19.26    -0.06  2023-05-09
8  2023-05-09 14:00:00   19.25    -0.01  2023-05-09
9  2023-05-09 15:00:00   19.19    -0.06  2023-05-09
10 2023-05-09 16:00:00   19.15    -0.04  2023-05-09
11 2023-05-09 17:00:00   19.17     0.02  2023-05-09
12 2023-05-09 18:00:00   19.15    -0.02  2023-05-09
13 2023-05-09 19:00:00   19.15     0.00  2023-05-09
14 2023-05-09 20:00:00   19.10    -0.05  2023-05-09
15 2023-05-09 21:00:00   19.13     0.03  2023-05-09
16 2023-05-09 22:00:00   19.11    -0.02  2023-05-09
17 2023-05-09 23:00:00   19.14     0.03  2023-05-09
18 2023-05-10 00:00:00   19.12    -0.02  2023-05-10
19 2023-05-10 01:00:00   19.10    -0.02  2023-05-10
20 2023-05-10 02:00:00   19.12     0.02  2023-05-10
21 2023-05-10 03:00:00   19.10    -0.02  2023-05-10
22 2023-05-10 04:00:00   19.13     0.03  2023-05-10
23 2023-05-10 05:00:00   19.11    -0.02  2023-05-10
24 2023-05-10 06:00:00   19.13     0.02  2023-05-10
25 2023-05-10 07:00:00   19.12    -0.01  2023-05-10
26 2023-05-10 08:00:00   19.08    -0.04  2023-05-10
27 2023-05-10 09:00:00   19.10     0.02  2023-05-10
28 2023-05-10 10:00:00   19.08    -0.02  2023-05-10
29 2023-05-10 11:00:00   19.06    -0.02  2023-05-10
30 2023-05-10 12:00:00   19.03    -0.03  2023-05-10
31 2023-05-10 13:00:00   19.01    -0.02  2023-05-10
32 2023-05-10 14:00:00   19.00    -0.01  2023-05-10
33 2023-05-10 15:00:00   18.93    -0.07  2023-05-10
34 2023-05-10 16:00:00   18.94     0.01  2023-05-10
35 2023-05-10 17:00:00   18.92    -0.02  2023-05-10
36 2023-05-10 18:00:00   18.90    -0.02  2023-05-10 probeMaxSM:  19.38
{'not_responding': True, 'low_reponse': False, 'late_response': False, 'events dates': [], 'probe_SM_diff': 0.4800000000000004}

probe_depth 31.0
            local_time  sm_val  sm_diff        date
0  2023-05-09 06:00:00   25.21     0.02  2023-05-09
1  2023-05-09 07:00:00   25.21     0.00  2023-05-09
2  2023-05-09 08:00:00   25.22     0.01  2023-05-09
3  2023-05-09 09:00:00   25.19    -0.03  2023-05-09
4  2023-05-09 10:00:00   25.15    -0.04  2023-05-09
5  2023-05-09 11:00:00   25.10    -0.05  2023-05-09
6  2023-05-09 12:00:00   25.02    -0.08  2023-05-09
7  2023-05-09 13:00:00   24.98    -0.04  2023-05-09
8  2023-05-09 14:00:00   24.88    -0.10  2023-05-09
9  2023-05-09 15:00:00   24.82    -0.06  2023-05-09
10 2023-05-09 16:00:00   24.77    -0.05  2023-05-09
11 2023-05-09 17:00:00   24.75    -0.02  2023-05-09
12 2023-05-09 18:00:00   24.69    -0.06  2023-05-09
13 2023-05-09 19:00:00   24.67    -0.02  2023-05-09
14 2023-05-09 20:00:00   24.71     0.04  2023-05-09
15 2023-05-09 21:00:00   24.71     0.00  2023-05-09
16 2023-05-09 22:00:00   24.69    -0.02  2023-05-09
17 2023-05-09 23:00:00   24.74     0.05  2023-05-09
18 2023-05-10 00:00:00   24.73    -0.01  2023-05-10
19 2023-05-10 01:00:00   24.73     0.00  2023-05-10
20 2023-05-10 02:00:00   24.73     0.00  2023-05-10
21 2023-05-10 03:00:00   24.79     0.06  2023-05-10
22 2023-05-10 04:00:00   24.79     0.00  2023-05-10
23 2023-05-10 05:00:00   24.81     0.02  2023-05-10
24 2023-05-10 06:00:00   24.81     0.00  2023-05-10
25 2023-05-10 07:00:00   24.81     0.00  2023-05-10
26 2023-05-10 08:00:00   24.82     0.01  2023-05-10
27 2023-05-10 09:00:00   24.84     0.02  2023-05-10
28 2023-05-10 10:00:00   24.80    -0.04  2023-05-10
29 2023-05-10 11:00:00   24.75    -0.05  2023-05-10
30 2023-05-10 12:00:00   24.65    -0.10  2023-05-10
31 2023-05-10 13:00:00   24.60    -0.05  2023-05-10
32 2023-05-10 14:00:00   24.55    -0.05  2023-05-10
33 2023-05-10 15:00:00   24.50    -0.05  2023-05-10
34 2023-05-10 16:00:00   24.45    -0.05  2023-05-10
35 2023-05-10 17:00:00   24.44    -0.01  2023-05-10
36 2023-05-10 18:00:00   24.42    -0.02  2023-05-10 probeMaxSM:  25.22
{'not_responding': True, 'low_reponse': False, 'late_response': False, 'events dates': [], 'probe_SM_diff': 0.7999999999999972}
total: 1 ,2023-05-09 07:23:00 finished
######################
irrigation event: project_id                  858363
amount                   22.967442
start_ts             1683816660000
end_ts               1683899280000
psi                      18.274112
start_date              2023-05-11
start          2023-05-11 07:51:00
end            2023-05-12 06:48:00
system_type                   drip
Name: 2, dtype: object
2023-05-11 07:51:00

probe_depth 16.0
            local_time  sm_val  sm_diff        date
0  2023-05-11 06:00:00   18.94     0.03  2023-05-11
1  2023-05-11 07:00:00   18.94     0.00  2023-05-11
2  2023-05-11 08:00:00   18.90    -0.04  2023-05-11
3  2023-05-11 09:00:00   18.92     0.02  2023-05-11
4  2023-05-11 10:00:00   18.92     0.00  2023-05-11
5  2023-05-11 11:00:00   18.90    -0.02  2023-05-11
6  2023-05-11 12:00:00   18.87    -0.03  2023-05-11
7  2023-05-11 13:00:00   18.86    -0.01  2023-05-11
8  2023-05-11 14:00:00   18.85    -0.01  2023-05-11
9  2023-05-11 15:00:00   18.81    -0.04  2023-05-11
10 2023-05-11 16:00:00   18.82     0.01  2023-05-11
11 2023-05-11 17:00:00   18.80    -0.02  2023-05-11
12 2023-05-11 18:00:00   18.82     0.02  2023-05-11
13 2023-05-11 19:00:00   18.80    -0.02  2023-05-11
14 2023-05-11 20:00:00   18.80     0.00  2023-05-11
15 2023-05-11 21:00:00   18.82     0.02  2023-05-11
16 2023-05-11 22:00:00   18.83     0.01  2023-05-11
17 2023-05-11 23:00:00   18.86     0.03  2023-05-11
18 2023-05-12 00:00:00   18.86     0.00  2023-05-12
19 2023-05-12 01:00:00   18.89     0.03  2023-05-12
20 2023-05-12 02:00:00   18.92     0.03  2023-05-12
21 2023-05-12 03:00:00   18.90    -0.02  2023-05-12
22 2023-05-12 04:00:00   18.93     0.03  2023-05-12
23 2023-05-12 05:00:00   18.90    -0.03  2023-05-12
24 2023-05-12 06:00:00   18.95     0.05  2023-05-12
25 2023-05-12 07:00:00   18.93    -0.02  2023-05-12
26 2023-05-12 08:00:00   18.96     0.03  2023-05-12
27 2023-05-12 09:00:00   18.96     0.00  2023-05-12
28 2023-05-12 10:00:00   18.95    -0.01  2023-05-12
29 2023-05-12 11:00:00   18.93    -0.02  2023-05-12
30 2023-05-12 12:00:00   18.94     0.01  2023-05-12
31 2023-05-12 13:00:00   18.86    -0.08  2023-05-12
32 2023-05-12 14:00:00   18.85    -0.01  2023-05-12
33 2023-05-12 15:00:00   18.83    -0.02  2023-05-12
34 2023-05-12 16:00:00   18.82    -0.01  2023-05-12
35 2023-05-12 17:00:00   18.85     0.03  2023-05-12
36 2023-05-12 18:00:00   18.80    -0.05  2023-05-12 probeMaxSM:  18.96
{'not_responding': True, 'low_reponse': False, 'late_response': False, 'events dates': [], 'probe_SM_diff': 0.16000000000000014}

probe_depth 31.0
            local_time  sm_val  sm_diff        date
0  2023-05-11 06:00:00   24.63     0.00  2023-05-11
1  2023-05-11 07:00:00   24.64     0.01  2023-05-11
2  2023-05-11 08:00:00   24.65     0.01  2023-05-11
3  2023-05-11 09:00:00   24.67     0.02  2023-05-11
4  2023-05-11 10:00:00   24.63    -0.04  2023-05-11
5  2023-05-11 11:00:00   24.59    -0.04  2023-05-11
6  2023-05-11 12:00:00   24.50    -0.09  2023-05-11
7  2023-05-11 13:00:00   24.45    -0.05  2023-05-11
8  2023-05-11 14:00:00   24.40    -0.05  2023-05-11
9  2023-05-11 15:00:00   24.35    -0.05  2023-05-11
10 2023-05-11 16:00:00   24.30    -0.05  2023-05-11
11 2023-05-11 17:00:00   24.29    -0.01  2023-05-11
12 2023-05-11 18:00:00   24.26    -0.03  2023-05-11
13 2023-05-11 19:00:00   24.29     0.03  2023-05-11
14 2023-05-11 20:00:00   24.31     0.02  2023-05-11
15 2023-05-11 21:00:00   24.36     0.05  2023-05-11
16 2023-05-11 22:00:00   24.38     0.02  2023-05-11
17 2023-05-11 23:00:00   24.43     0.05  2023-05-11
18 2023-05-12 00:00:00   24.40    -0.03  2023-05-12
19 2023-05-12 01:00:00   24.45     0.05  2023-05-12
20 2023-05-12 02:00:00   24.50     0.05  2023-05-12
21 2023-05-12 03:00:00   24.50     0.00  2023-05-12
22 2023-05-12 04:00:00   24.55     0.05  2023-05-12
23 2023-05-12 05:00:00   24.55     0.00  2023-05-12
24 2023-05-12 06:00:00   24.56     0.01  2023-05-12
25 2023-05-12 07:00:00   24.63     0.07  2023-05-12
26 2023-05-12 08:00:00   24.63     0.00  2023-05-12
27 2023-05-12 09:00:00   24.65     0.02  2023-05-12
28 2023-05-12 10:00:00   24.61    -0.04  2023-05-12
29 2023-05-12 11:00:00   24.56    -0.05  2023-05-12
30 2023-05-12 12:00:00   24.46    -0.10  2023-05-12
31 2023-05-12 13:00:00   24.41    -0.05  2023-05-12
32 2023-05-12 14:00:00   24.36    -0.05  2023-05-12
33 2023-05-12 15:00:00   24.31    -0.05  2023-05-12
34 2023-05-12 16:00:00   24.29    -0.02  2023-05-12
35 2023-05-12 17:00:00   24.28    -0.01  2023-05-12
36 2023-05-12 18:00:00   24.27    -0.01  2023-05-12 probeMaxSM:  24.67
{'not_responding': True, 'low_reponse': False, 'late_response': False, 'events dates': [], 'probe_SM_diff': 0.41000000000000014}
total: 2 ,2023-05-11 07:51:00 finished
######################
irrigation event: project_id                  858363
amount                   10.824887
start_ts             1684161120000
end_ts               1684200060000
psi                      18.274112
start_date              2023-05-15
start          2023-05-15 07:32:00
end            2023-05-15 18:21:00
system_type                   drip
Name: 3, dtype: object
2023-05-15 07:32:00

probe_depth 16.0
            local_time  sm_val  sm_diff        date
0  2023-05-15 06:00:00   18.40     0.00  2023-05-15
1  2023-05-15 07:00:00   18.38    -0.02  2023-05-15
2  2023-05-15 08:00:00   18.42     0.04  2023-05-15
3  2023-05-15 09:00:00   18.38    -0.04  2023-05-15
4  2023-05-15 10:00:00   18.38     0.00  2023-05-15
5  2023-05-15 11:00:00   18.41     0.03  2023-05-15
6  2023-05-15 12:00:00   18.36    -0.05  2023-05-15
7  2023-05-15 13:00:00   18.35    -0.01  2023-05-15
8  2023-05-15 14:00:00   18.34    -0.01  2023-05-15
9  2023-05-15 15:00:00   18.33    -0.01  2023-05-15
10 2023-05-15 16:00:00   18.34     0.01  2023-05-15
11 2023-05-15 17:00:00   18.33    -0.01  2023-05-15
12 2023-05-15 18:00:00   18.34     0.01  2023-05-15
13 2023-05-15 19:00:00   18.32    -0.02  2023-05-15
14 2023-05-15 20:00:00   18.37     0.05  2023-05-15
15 2023-05-15 21:00:00   18.38     0.01  2023-05-15
16 2023-05-15 22:00:00   18.35    -0.03  2023-05-15
17 2023-05-15 23:00:00   18.38     0.03  2023-05-15
18 2023-05-16 00:00:00   18.36    -0.02  2023-05-16
19 2023-05-16 01:00:00   18.41     0.05  2023-05-16
20 2023-05-16 02:00:00   18.38    -0.03  2023-05-16
21 2023-05-16 03:00:00   18.40     0.02  2023-05-16
22 2023-05-16 04:00:00   18.45     0.05  2023-05-16
23 2023-05-16 05:00:00   18.53     0.08  2023-05-16
24 2023-05-16 06:00:00   18.62     0.09  2023-05-16 probeMaxSM:  18.62
{'not_responding': True, 'low_reponse': False, 'late_response': False, 'events dates': [], 'probe_SM_diff': 0.3000000000000007}

probe_depth 31.0
            local_time  sm_val  sm_diff        date
0  2023-05-15 06:00:00   24.18     0.00  2023-05-15
1  2023-05-15 07:00:00   24.20     0.02  2023-05-15
2  2023-05-15 08:00:00   24.21     0.01  2023-05-15
3  2023-05-15 09:00:00   24.16    -0.05  2023-05-15
4  2023-05-15 10:00:00   24.13    -0.03  2023-05-15
5  2023-05-15 11:00:00   24.04    -0.09  2023-05-15
6  2023-05-15 12:00:00   24.01    -0.03  2023-05-15
7  2023-05-15 13:00:00   23.96    -0.05  2023-05-15
8  2023-05-15 14:00:00   23.91    -0.05  2023-05-15
9  2023-05-15 15:00:00   23.91     0.00  2023-05-15
10 2023-05-15 16:00:00   23.89    -0.02  2023-05-15
11 2023-05-15 17:00:00   23.88    -0.01  2023-05-15
12 2023-05-15 18:00:00   23.86    -0.02  2023-05-15
13 2023-05-15 19:00:00   23.88     0.02  2023-05-15
14 2023-05-15 20:00:00   23.90     0.02  2023-05-15
15 2023-05-15 21:00:00   23.95     0.05  2023-05-15
16 2023-05-15 22:00:00   23.99     0.04  2023-05-15
17 2023-05-15 23:00:00   23.97    -0.02  2023-05-15
18 2023-05-16 00:00:00   24.01     0.04  2023-05-16
19 2023-05-16 01:00:00   24.06     0.05  2023-05-16
20 2023-05-16 02:00:00   24.06     0.00  2023-05-16
21 2023-05-16 03:00:00   24.11     0.05  2023-05-16
22 2023-05-16 04:00:00   24.11     0.00  2023-05-16
23 2023-05-16 05:00:00   24.11     0.00  2023-05-16
24 2023-05-16 06:00:00   24.15     0.04  2023-05-16 probeMaxSM:  24.21
{'not_responding': True, 'low_reponse': False, 'late_response': False, 'events dates': [], 'probe_SM_diff': 0.3500000000000014}
total: 3 ,2023-05-15 07:32:00 finished
######################
irrigation event: project_id                  858363
amount                    5.971201
start_ts             1684227120000
end_ts               1684248600000
psi                      19.579405
start_date              2023-05-16
start          2023-05-16 01:52:00
end            2023-05-16 07:50:00
system_type                   drip
Name: 4, dtype: object
2023-05-16 01:52:00

probe_depth 16.0
            local_time  sm_val  sm_diff        date
0  2023-05-16 00:00:00   18.36    -0.02  2023-05-16
1  2023-05-16 01:00:00   18.41     0.05  2023-05-16
2  2023-05-16 02:00:00   18.38    -0.03  2023-05-16
3  2023-05-16 03:00:00   18.40     0.02  2023-05-16
4  2023-05-16 04:00:00   18.45     0.05  2023-05-16
5  2023-05-16 05:00:00   18.53     0.08  2023-05-16
6  2023-05-16 06:00:00   18.62     0.09  2023-05-16
7  2023-05-16 07:00:00   18.70     0.08  2023-05-16
8  2023-05-16 08:00:00   18.78     0.08  2023-05-16
9  2023-05-16 09:00:00   18.83     0.05  2023-05-16
10 2023-05-16 10:00:00   18.83     0.00  2023-05-16
11 2023-05-16 11:00:00   18.85     0.02  2023-05-16
12 2023-05-16 12:00:00   18.87     0.02  2023-05-16
13 2023-05-16 13:00:00   18.83    -0.04  2023-05-16
14 2023-05-16 14:00:00   18.81    -0.02  2023-05-16
15 2023-05-16 15:00:00   18.81     0.00  2023-05-16
16 2023-05-16 16:00:00   18.77    -0.04  2023-05-16
17 2023-05-16 17:00:00   18.78     0.01  2023-05-16
18 2023-05-16 18:00:00   18.75    -0.03  2023-05-16
19 2023-05-16 19:00:00   18.78     0.03  2023-05-16 probeMaxSM:  18.87
{'not_responding': True, 'low_reponse': False, 'late_response': False, 'events dates': [], 'probe_SM_diff': 0.5100000000000016}

probe_depth 31.0
            local_time  sm_val  sm_diff        date
0  2023-05-16 00:00:00   24.01     0.04  2023-05-16
1  2023-05-16 01:00:00   24.06     0.05  2023-05-16
2  2023-05-16 02:00:00   24.06     0.00  2023-05-16
3  2023-05-16 03:00:00   24.11     0.05  2023-05-16
4  2023-05-16 04:00:00   24.11     0.00  2023-05-16
5  2023-05-16 05:00:00   24.11     0.00  2023-05-16
6  2023-05-16 06:00:00   24.15     0.04  2023-05-16
7  2023-05-16 07:00:00   24.17     0.02  2023-05-16
8  2023-05-16 08:00:00   24.19     0.02  2023-05-16
9  2023-05-16 09:00:00   24.19     0.00  2023-05-16
10 2023-05-16 10:00:00   24.14    -0.05  2023-05-16
11 2023-05-16 11:00:00   24.10    -0.04  2023-05-16
12 2023-05-16 12:00:00   24.05    -0.05  2023-05-16
13 2023-05-16 13:00:00   24.05     0.00  2023-05-16
14 2023-05-16 14:00:00   24.00    -0.05  2023-05-16
15 2023-05-16 15:00:00   24.00     0.00  2023-05-16
16 2023-05-16 16:00:00   23.94    -0.06  2023-05-16
17 2023-05-16 17:00:00   23.99     0.05  2023-05-16
18 2023-05-16 18:00:00   23.96    -0.03  2023-05-16
19 2023-05-16 19:00:00   23.99     0.03  2023-05-16 probeMaxSM:  24.19
{'not_responding': True, 'low_reponse': False, 'late_response': False, 'events dates': [], 'probe_SM_diff': 0.25}
total: 4 ,2023-05-16 01:52:00 finished
######################

,project_id,sensor_id,area_id,area_name,company_name,crop_name,variety_id,probe_depths,irrigation_events,not_responding_events_count,max_SM_diff,SM_statistics,event_timestamp,support_status,support_updated_at,days_since_task_complete,remarks,link,timezone,territory
0,858363,878000,10728,Ranch 4860,138,pistachio,8,"[16.0, 31.0]",4,4,0.51,"{16.0: {'mean': 18.823489583333338, 'std': 0.2...","{2023-05-09 07:23:00, 2023-05-15 07:32:00, 202...",closed,2023-05-05 01:11:25.687285,12,{2023-05-15 07:32:00: probe 16.0 Not respondin...,https://app.phytech.com/10728/51753/858363,America/Los_Angeles,california

{'2023-05-09 07:23:00: probe 16.0 Not responding to irrigation',
 '2023-05-09 07:23:00: probe 31.0 Not responding to irrigation',
 '2023-05-11 07:51:00: probe 16.0 Not responding to irrigation',
 '2023-05-11 07:51:00: probe 31.0 Not responding to irrigation',
 '2023-05-15 07:32:00: probe 16.0 Not responding to irrigation',
 '2023-05-15 07:32:00: probe 31.0 Not responding to irrigation',
 '2023-05-16 01:52:00: probe 16.0 Not responding to irrigation',
 '2023-05-16 01:52:00: probe 31.0 Not responding to irrigation'}

{16.0: {'mean': 18.823489583333338,
  'std': 0.2723483484943028,
  'max': 19.43,
  'min': 18.32},
 31.0: {'mean': 24.41864583333333,
  'std': 0.32985835383557216,
  'max': 25.22,
  'min': 23.86}}

In [3]:
def test_project_data(p_id, debug=False, sql_debug=False):
    yesterday = (dt.date.today() - dt.timedelta(days=1)).strftime("%Y-%m-%d")
    start_date = (dt.date.today() - dt.timedelta(days=8)).strftime("%Y-%m-%d")
    try:
        project_data = load_project_data(project_id=p_id, min_date=start_date,
                      max_date=yesterday, min_depth=10, max_depth=91, debug=sql_debug)
    except Exception as e:
        print(e)
        return
    print(project_data.app_link)
    if project_data.valid_project & debug:
        display(project_data.df_irrigation[project_data.df_irrigation.amount > logic_parameters.MIN_IRR_AMOUNT])

    if project_data.valid_project:
        projects_df = get_project_results(project_data, debug)
        return(projects_df)
    else:
        return('project_data.valid_project', project_data.valid_project)

In [73]:
def get_first_depth(SM_dict):
    first_depth = list(SM_dict.keys())[0]
    print(first_depth, SM_dict[first_depth]['min'])
d = washington['SM_statistics'].iloc[20]

get_first_depth(eval(d))

16.0 25.89

In [88]:
summary_df = pd.read_csv(DATA_WD+'/projects_df_2023_05_15 15-08-24.csv').iloc[:,1:]
washington = summary_df[summary_df.territory == 'washington']
washington#['SM_statistics'][3:4].values[0]
#eval(washington['SM_statistics'][3:4].values[0])#.apply(lambda x: get_first_depth(eval(x)) if x !=  else None)

,project_id,sensor_id,area_id,area_name,company_name,crop_name,variety_id,probe_depths,irrigation_events,not_responding_events_count,max_SM_diff,SM_statistics,event_timestamp,support_status,support_updated_at,days_since_task_complete,remarks,link,timezone,territory,percent_not responding
20,850367,1149114,12935,Section 12,8678,apple,21,"[16.0, 31.0]",1,0,12.76,"{16.0: {'mean': 33.87623036649215, 'std': 2.32...",set(),completed,2023-04-29 03:10:22.091162,16.0,set(),https://app.phytech.com/12935/46900/850367,America/Los_Angeles,washington,0.0
22,850457,1117648,8291,Cherry Ridge Farms,8181,cherry,22,"[16.0, 31.0]",5,1,0.88,"{16.0: {'mean': 18.1020320855615, 'std': 0.509...","{Timestamp('2023-05-12 09:46:00'), Timestamp('...",NaN,NaN,NaN,{'2023-05-08 07:09:00: probe 31.0 Not respondi...,https://app.phytech.com/8291/38806/850457,America/Los_Angeles,washington,0.2
23,850570,1117596,11137,Colt- Jeff,7975,apple,21,[23.0],1,0,2.23,"{23.0: {'mean': 34.682239583333335, 'std': 0.4...",set(),completed,2023-03-14 03:10:19.265450,62.0,set(),https://app.phytech.com/11137/55249/850570,America/Los_Angeles,washington,0.0
24,850573,1125822,11137,Colt- Jeff,7975,apple,21,"[10.0, 25.0]",1,0,2.15,"{10.0: {'mean': nan, 'std': nan, 'max': nan, '...",set(),new,2023-04-30 23:39:37.710479,15.0,{'missing SM data for 10.0'},https://app.phytech.com/11137/55250/850573,America/Los_Angeles,washington,0.0
25,850665,1140618,8800,CPC - Cardinal Crest,9353,apple,21,"[16.0, 31.0]",5,0,3.35,"{16.0: {'mean': 14.190847457627116, 'std': 1.2...",set(),completed,2023-05-07 03:10:16.980802,8.0,set(),https://app.phytech.com/8800/41424/850665,America/Los_Angeles,washington,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083,876765,1148058,19215,WHITSTRAN,7975,apple,144,"[15.0, 30.0]",3,0,0.94,"{15.0: {'mean': 28.457135416666663, 'std': 0.9...",{Timestamp('2023-05-12 08:10:00')},completed,2023-04-19 00:16:13.908251,26.0,{'2023-05-12 08:10:00: probe 30.0 Low sensor r...,https://app.phytech.com/19215/84607/876765,America/Los_Angeles,washington,0.0
2084,876766,1148055,19215,WHITSTRAN,7975,apple,143,"[16.0, 31.0]",3,0,10.18,"{16.0: {'mean': 29.74677083333334, 'std': 3.57...",set(),NaN,NaN,NaN,set(),https://app.phytech.com/19215/84609/876766,America/Los_Angeles,washington,0.0
2085,876768,1147999,19215,WHITSTRAN,7975,apple,143,"[16.0, 31.0]",2,0,11.50,"{16.0: {'mean': nan, 'std': nan, 'max': nan, '...",set(),NaN,NaN,NaN,{'missing SM data for 16.0'},https://app.phytech.com/19215/84611/876768,America/Los_Angeles,washington,0.0
2090,876962,1120686,9467,Gap Ranch,19740,blueberry,19,"[15.0, 30.0]",0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://app.phytech.com/9467/85309/876962,America/Los_Angeles,washington,0.0
2091,876964,1119071,9467,Gap Ranch,19740,blueberry,19,"[15.0, 30.0]",0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://app.phytech.com/9467/85309/876964,America/Los_Angeles,washington,0.0

In [36]:
summary_df = pd.read_csv(DATA_WD+'/projects_df_2023_05_15 15-08-24.csv').iloc[:,1:]
summary_df.shape
summary_df[summary_df.territory != 'washington'].shape
summary_df = summary_df[summary_df.territory != 'washington']
temp = pd.read_csv(DATA_WD+'/projects_df_2023_05_13 04-07-10.csv').iloc[:,1:]
summary_df.merge(right=temp[['project_id', 'Result ', 'Notes ']],
                 on='project_id',how='left').to_csv(DATA_WD+'/QA_table.csv')

(2092, 21)

(1444, 21)

In [93]:
list(proj_list['plot_id'])

[55718,
 56488,
 58130,
 53265,
 53268,
 63469,
 43558,
 61753,
 87641,
 88807,
 53515,
 63000,
 39494,
 88998,
 39749,
 82458,
 52388,
 61260,
 31739,
 58312,
 61265,
 62783,
 51005,
 63538,
 23891,
 35564,
 40665,
 53526,
 59477,
 61265,
 35459,
 50394,
 63467,
 53520,
 35482,
 58181,
 67440,
 59343,
 35499,
 62753,
 58197,
 53024,
 61698,
 50119,
 58138,
 63467,
 56996,
 57098,
 55244,
 39737,
 63467,
 48201,
 50123,
 48147,
 69411,
 63467,
 56503,
 43666,
 47229,
 31757,
 56482,
 57874,
 89003,
 63466,
 51400,
 48194,
 63982,
 53422,
 26516,
 53515,
 52364,
 57397,
 35453,
 51783,
 62761,
 56108,
 61259,
 47850,
 79734,
 51055,
 62349,
 39494,
 61706,
 57060,
 50112,
 39501,
 39502,
 58139,
 67506,
 56112,
 61268,
 51401,
 50607,
 47708,
 53292,
 44956,
 50436,
 54661,
 35457,
 31767,
 35428,
 56504,
 63487,
 56986,
 57332,
 53546,
 57003,
 53583,
 56500,
 47213,
 48236,
 55761,
 53637,
 55004,
 55087,
 70012,
 53431,
 56468,
 56492,
 58760,
 47864,
 61267,
 63469,
 37409,
 58767,
 26481,
 57008,
 56999,
 37566,
 50437,
 50462,
 57073,
 26491,
 50152,
 50438,
 37378,
 57112,
 57114,
 57068,
 57098,
 78632,
 63462,
 78661,
 50459,
 50614,
 47828,
 78821,
 78840,
 50623,
 59446,
 63479,
 38655,
 57069,
 55051,
 57070,
 47134,
 60093,
 62332,
 55265,
 55267,
 78798,
 56478,
 63986,
 70924,
 57473,
 63462,
 51789,
 56923,
 57043,
 53545,
 51000,
 62323,
 58293,
 47702,
 38619,
 51498,
 56944,
 53102,
 59082,
 58173,
 62423,
 59162,
 35405,
 73098,
 70908,
 63477,
 57880,
 47707,
 59479,
 62747,
 62424,
 67444,
 67443,
 35507,
 37450,
 37452,
 58309,
 59457,
 51176,
 67438,
 67710,
 47706,
 79894,
 61717,
 59458,
 58062,
 51995,
 58095,
 58062,
 53637,
 50583,
 61265,
 63477,
 51505,
 53068,
 58093,
 47833,
 53530,
 37406,
 53519,
 26492,
 47718,
 63488,
 78813,
 47701,
 63486,
 51175,
 51171,
 63478,
 47924,
 50620,
 48075,
 37387,
 63466,
 63478,
 71018,
 62746,
 63489,
 57060,
 35478,
 47810,
 56474,
 56488,
 59180,
 38811,
 58075,
 58767,
 63490,
 56390,
 57047,
 59155,
 62290,
 57046,
 47718,
 47714,
 58294,
 35424,
 37423,
 63538,
 57120,
 57079,
 57093,
 62745,
 63476,
 59165,
 63543,
 58138,
 53199,
 59175,
 56977,
 59164,
 63539,
 63476,
 54767,
 48155,
 81718,
 58153,
 58128,
 54905,
 57113,
 51667,
 47860,
 79894,
 37441,
 46952,
 56986,
 58185,
 70806,
 78609,
 62142,
 58198,
 63002,
 35510,
 58095,
 69630,
 63004,
 63543,
 47720,
 62788,
 37554,
 35541,
 80016,
 78808,
 84599,
 35415,
 78600,
 47136,
 62197,
 31778,
 31728,
 58182,
 31727,
 80011,
 39738,
 35556,
 54751,
 54751,
 58095,
 58138,
 62779,
 47697,
 47698,
 58208,
 73096,
 59165,
 63477,
 58207,
 63489,
 50497,
 50395,
 63489,
 57126,
 78650,
 78601,
 78802,
 78617,
 78815,
 58131,
 85606,
 85606,
 85607,
 80011,
 80017,
 52388,
 71176,
 58155,
 80015,
 75469,
 78314,
 78314,
 42161,
 63490,
 57102,
 57094,
 59456,
 57039,
 50444,
 57116,
 78813,
 50982,
 50982,
 62196,
 58304,
 62200,
 80010,
 63486,
 78884,
 80020,
 78858,
 78850,
 26479,
 42136,
 63463,
 56997,
 78856,
 78854,
 78808,
 78806,
 42144,
 50118,
 48154,
 56995,
 39749,
 57003,
 78795,
 56112,
 63463,
 63008,
 63490,
 63538,
 63479,
 62780,
 50418,
 59446,
 58122,
 31775,
 31764,
 61245,
 63473,
 62786,
 23874,
 58172,
 82276,
 82904,
 35471,
 83163,
 83264,
 55249,
 63543,
 58155,
 59160,
 55268,
 61524,
 37412,
 82442,
 79559,
 85608,
 80012,
 80018,
 54775,
 78603,
 78645,
 35419,
 62133,
 44178,
 80018,
 80017,
 80019,
 68903,
 58319,
 78611,
 80019,
 84605,
 80019,
 88006,
 61242,
 48209,
 78617,
 78827,
 80019,
 78647,
 62131,
 78640,
 62787,
 63484,
 85380,
 80015,
 84604,
 22876,
 78598,
 48152,
 84607,
 42135,
 42131,
 58148,
 58182,
 55262,
 78860,
 37547,
 50490,
 85378,
 37402,
 47845,
 61731,
 78862,
 51011,
 47700,
 57011,
 53077,
 79565,
 31769,
 38809,
 38664,
 51172,
 84608,
 75469,
 61703,
 58157,
 78313,
 47712,
 40709,
 54770,
 58164,
 42140,
 86197,
 51010,
 58183,
 35454,
 37382,
 38655,
 78829,
 78887,
 62217,
 79556,
 84595,
 50982,
 78813,
 46891,
 78612,
 57178,
 55256,
 55020,
 51215,
 45163,
 78800,
 78802,
 78807,
 58766,
 84787,
 47932,
 78861,
 89002,
 79585,
 56967,
 48041,
 35466,
 85309,
 79571,
 78790,
 61662,
 61660,
 85384,
 31748,
 84609,
 61349,
 82259,
 79591,
 47222,
 47232,
 35436,
 35560,
 50395,
 57049,
 35532,
 61257,
 61714,
 63478,
 37411,
 63474,
 61715,
 50574,
 55232,
 78809,
 78804,
 58195,
 62212,
 62752,
 37380,
 37420,
 59167,
 86734,
 45171,
 86964,
 58191,
 59083,
 59168,
 37415,
 26494,
 75467,
 55227,
 57171,
 57151,
 58104,
 42131,
 42134,
 42135,
 86197,
 42144,
 86198,
 58162,
 42152,
 62204,
 35497,
 63466,
 61722,
 47223,
 51782,
 58062,
 86102,
 42152,
 42134,
 41550,
 55066,
 51501,
 37429,
 47834,
 47233,
 47578,
 67520,
 57121,
 51421,
 44925,
 63542,
 47933,
 54779,
 84603,
 84605,
 84608,
 87200,
 84522,
 87199,
 39737,
 50123,
 55246,
 52365,
 55257,
 78838,
 51324,
 50114,
 78805,
 78839,
 56389,
 78850,
 40788,
 57004,
 57083,
 44930,
 51503,
 41374,
 82277,
 50420,
 78850,
 78852,
 87641,
 57082,
 26497,
 57056,
 51511,
 87641,
 37548,
 88807,
 88998,
 55231,
 55242,
 39494,
 50116,
 63000,
 47710,
 37451,
 45025,
 45026,
 88998,
 50609,
 70012,
 51498,
 58069,
 51501,
 69621,
 63472,
 69641,
 59478,
 58135,
 58173,
 51324,
 70011,
 63540,
 50612,
 70012,
 59457,
 56980,
 61519,
 47831,
 47695,
 47714,
 61706,
 50102,
 71645,
 61726,
 41709,
 63466,
 37453,
 59174,
 67512,
 63477,
 55258,
 69030,
 63490,
 63490,
 56968,
 58758,
 30639,
 51504,
 67446,
 59166,
 59167,
 58766,
 35541,
 50687,
 57061,
 51390,
 56958,
 57071,
 58206,
 63002,
 57044,
 47671,
 58214,
 70845,
 58202,
 54846,
 31765,
 62323,
 35414,
 35392,
 35437,
 48192,
 62318,
 58302,
 67439,
 67446,
 51523,
 63490,
 58171,
 58159,
 38604,
 37551,
 37442,
 59155,
 58294,
 52151,
 58298,
 56111,
 61752,
 58297,
 57893,
 58307,
 59158,
 58156,
 43559,
 50580,
 73101,
 59090,
 67504,
 50583,
 56477,
 63467,
 50457,
 62788,
 69030,
 37586,
 85687,
 59173,
 55762,
 31758,
 31747,
 37428,
 57188,
 84611,
 84611,
 62273,
 35515,
 54846,
 58309,
 51790,
 31763,
 54779,
 75466,
 62274,
 56112,
 51048,
 79835,
 78641,
 56112,
 56112,
 56502,
 55261,
 55264,
 47925,
 47703,
 79893,
 53408,
 63473,
 57876,
 41400,
 55023,
 63470,
 87689,
 47831,
 47825,
 56512,
 35513,
 79560,
 53526,
 73091,
 81693,
 41552,
 41553,
 57079,
 56980,
 58103,
 50117,
 78793,
 67444,
 84603,
 84606,
 84606,
 78834,
 62274,
 84608,
 79867,
 87201,
 87201,
 50155,
 55051,
 78823,
 57114,
 57022,
 57117,
 63540,
 83676,
 78801,
 57060,
 55261,
 57039,
 61252,
 63475,
 78810,
 39749,
 47578,
 78821,
 78615,
 78858,
 50112,
 78861,
 78848,
 56112,
 63536,
 69283,
 78621,
 61717,
 51395,
 79834,
 78636,
 78639,
 82276,
 82277,
 38655,
 26512,
 50154,
 89001,
 75466,
 86964,
 89001,
 78654,
 35552,
 78809,
 55728,
 61676,
 37576,
 38654,
 37526,
 53039,
 87201,
 63608,
 63587,
 63489,
 63489,
 69632,
 59459,
 50109,
 57333,
 40667,
 55051,
 79576,
 79561,
 26453,
 56505,
 85282,
 79567,
 58073,
 37558,
 59155,
 31734,
 78881,
 56478,
 78884,
 78874,
 78887,
 78803,
 53429,
 82261,
 47232,
 42168,
 81692,
 78822,
 26448,
 79567,
 78841,
 85378,
 50418,
 47663,
 70907,
 70849,
 79576,
 80017,
 31773,
 31745,
 31738,
 85379,
 57003,
 79584,
 38997,
 57188,
 79580,
 85379,
 50520,
 56999,
 57114,
 44177,
 57046,
 78827,
 78644,
 84603,
 50508,
 59472,
 61698,
 58766,
 58767,
 58767,
 55273,
 55273,
 55260,
 55262,
 55263,
 78835,
 78837,
 50573,
 35483,
 37503,
 69551,
 78840,
 69548,
 78850,
 50452,
 50620,
 50419,
 78850,
 78850,
 47835,
 87641,
 87641,
 78864,
 87655,
 58762,
 58759,
 59475,
 59475,
 59436,
 88007,
 88006,
 78863,
 47931,
 54765,
 31723,
 50498,
 88007,
 57081,
 57115,
 88807,
 88807,
 89003,
 89003,
 50109,
 50114,
 79581,
 79594,
 84604,
 79559,
 79560,
 58072,
 79560,
 59165,
 48157,
 38607,
 38609,
 50451,
 50501,
 50445,
 58762,
 85309,
 79567,
 58763,
 50630,
 50107,
 47847,
 35410,
 47665,
 47704,
 47717,
 47703,
 47709,
 79559,
 51323,
 62329,
 51339,
 50107,
 51524,
 78847,
 51526,
 51431,
 ...]

In [138]:
query = """
select "id" project_id, plot_id from projects 
    where plot_id in (select territoriable_id from territory_entities where territoriable_type = 'Plot' and territory_id = 6)
    and state = 'installed'
    and season = 2023
"""
sql_importer = SqlImporter(query=query, database=c.database_ruby_production, user=c.user_production,
                           password=c.password_production, host=c.host_production, port=c.port_production,
                           verbose=False)

sql_importer.get_data()
proj_list = sql_importer.data
#list(proj_list['plot_id'])

query = """select metadata.area_id, metadata.plot_id, plot_name,crop_name,metadata.project_id, relevant_from, depth_cm, inner_index, sensor_id, type_id, relevant_untill
                    FROM public.project_metadata_vw metadata join public.soil_sensors_metadata sensors on metadata.project_id =sensors.project_id
                    where relevant_untill >=current_date and timezone like 'America/Los_Angeles'
                    --and plot_id in ({})
                    and state ='installed' 
                    and type_id in (90, 91, 92, 98, 117, 118, 124, 127, 135, 137)
                    and season =2023
                    and inner_index <=1
                    """
sql_importer = SqlImporter(query=query, database=c.database_research, user=c.user_research,
                           password=c.password_research, host=c.host_research, port=c.port_research,
                           verbose=False)
sql_importer.get_data()
metadata = sql_importer.data
df = metadata.merge(proj_list['plot_id'], on='plot_id',how='inner')

query = """
SELECT distinct soil.sensor_id,"date", average,minimum, maximum,maximum-minimum as daily_sm_change,
        average-lag(average) over (partition by soil.sensor_id,depth_cm order by soil.sensor_id,depth_cm,date) as daily_avg_diff
        FROM public.sensor_calculations_v2 as soil join public.soil_sensors_metadata as md
        on md.sensor_id =soil.sensor_id  and md.inner_index =soil.inner_index
        --where soil.sensor_id in (select sensor_id from sensors)
        where date>=current_date - integer '7' and depth_cm<=45 and soil.inner_index=0
"""
sql_importer.query = query
sql_importer.get_data()
sm_df = sql_importer.data
sm_df = sm_df.merge(df, on='sensor_id', how='inner')
sm_df

,sensor_id,date,average,minimum,maximum,daily_sm_change,daily_avg_diff,area_id,plot_id,plot_name,crop_name,project_id,relevant_from,depth_cm,inner_index,type_id,relevant_untill
0,810538,2023-05-09,22.195000,22.00,22.40,0.40,0.000000,8240,48154,RS09,Apple,856898,2022-12-27,15.0,0,90,2023-12-31
1,810538,2023-05-09,22.195000,22.00,22.40,0.40,0.000000,8240,48154,RS09,Apple,856898,2022-12-27,15.0,0,90,2023-12-31
2,810538,2023-05-09,22.195000,22.00,22.40,0.40,NaN,8240,48154,RS09,Apple,856898,2022-12-27,15.0,0,90,2023-12-31
3,810538,2023-05-09,22.195000,22.00,22.40,0.40,NaN,8240,48154,RS09,Apple,856898,2022-12-27,15.0,0,90,2023-12-31
4,810538,2023-05-10,21.791667,21.54,22.03,0.49,-0.403333,8240,48154,RS09,Apple,856898,2022-12-27,15.0,0,90,2023-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60755,1172422,2023-05-14,NaN,NaN,NaN,NaN,NaN,8419,39495,BLK 1,Apple,859567,2023-05-11,16.0,0,127,2023-12-31
60756,1172422,2023-05-14,NaN,NaN,NaN,NaN,NaN,8419,39495,BLK 1,Apple,859567,2023-05-11,31.0,1,127,2023-12-31
60757,1172422,2023-05-14,NaN,NaN,NaN,NaN,NaN,8419,39495,BLK 1,Apple,859567,2023-05-11,31.0,1,127,2023-12-31
60758,1172422,2023-05-14,NaN,NaN,NaN,NaN,NaN,8419,39495,BLK 1,Apple,859567,2023-05-11,31.0,1,127,2023-12-31
60759,1172422,2023-05-14,NaN,NaN,NaN,NaN,NaN,8419,39495,BLK 1,Apple,859567,2023-05-11,31.0,1,127,2023-12-31

In [146]:
sus_list = list(sm_df[sm_df.average < 5]['project_id'].unique())
results = sm_df[(sm_df.project_id.isin(sus_list))].groupby('project_id')[['area_id','plot_id','average']].min()
results.reset_index(drop=False,inplace=True)

def display_app_link(row):
    project_link = 'https://app.phytech.com/%d/%d/%d' %(row.area_id, row.plot_id, row.project_id)
    #return(HTML("""<a href="%s">%s</a>"""  %(project_link, project_link)))
    return(project_link)
results['link'] = results.apply(lambda row: display_app_link(row),axis=1)
results.to_csv(DATA_WD+'/results.csv')

In [ ]:
def get_project_results(project_data, debug=False):
    project_results = find_not_responding_events(project_data,debug)
    df_irr = project_data.df_irrigation[project_data.df_irrigation.amount > MIN_IRR_AMOUNT]

    projects_df = pd.DataFrame(columns=['project_id','sensor_id','probe_depths','irrigation_events',
                                      'not_responding_events_count','max_SM_diff', 'event_timestamp',
                                       'support_status', 'support_updated_at','days_since_task_complete',
                                        'remarks', 'link','timezone'])
    project_dict = {}

    remarks = set()
    
    project_dict.update({'project_id' : project_data.project_id,
                         'sensor_id' : project_data.sensor_id,
                         'probe_depths': project_results.get('probe_depths'),
                         'irrigation_events' : len(df_irr),
                         'not_responding_events_count' : project_results['events_count'], #max_val,
                         'link' : project_data.app_link,
                         'timezone' : project_data['timezone']})
    
    # No not_responding events found
    if not project_results['events_details']: # empty dict = No events
        project_dict.update({'max_SM_diff': None,
                             #'probe_depths': None,
                             'event_timestamp' : None,
                             'remarks' : None})
    else:
        # find probe with max not responding events
        for d in project_results.get('probe_depths'):
            #remarks.add(project_results.get('events_details')[d]['remarks'])
            project_dict.update({'max_SM_diff': max(d['probe SM diff'] for d in project_results['events_details'].values()),
                                 #'probe_depths': project_results.get('probe_depths'),
                                 'event_timestamp' : project_results.get('event_timestamp'),
                                 #'remarks' : remarks
                                'remarks': project_results['remarks']})
    # Find support status information
    if not project_data.sensor_support_status:
        sensor_status = {'status': None, 'updated_at': None, 'days_since_task_complete': None}
    else:
        sensor_status = project_data.sensor_support_status_dict[0]
        sensor_status['days_since_task_complete'] = (dt.datetime.today().date() -
                                    sensor_status['updated_at'].date()).days
    
    project_dict.update({'support_status' : sensor_status['status'],
                         'support_updated_at' : sensor_status['updated_at'],
                         'days_since_task_complete': sensor_status['days_since_task_complete']})
    
    
    projects_df = pd.concat([projects_df, pd.DataFrame.from_dict(project_dict,orient='index').T], ignore_index=True)
    #projects_df['days_since_task_complete'] =  (dt.datetime.today().date() - projects_df['support_updated_at'][0].date()).days
    cols = ['project_id', 'sensor_id', 'probe_depths', 'irrigation_events',
       'not_responding_events_count', 'max_SM_diff', 'event_timestamp',
       'support_status', 'support_updated_at','days_since_task_complete', 'remarks', 'link', 'timezone']
    projects_df = projects_df[cols]
    
    return(projects_df)

In [14]:
def find_not_responding_events_old(project_data, debug=False):
    not_responding_SM_sensors_project_dict,probe_events_dict = {},{}
    event_timestamp = set()
    probe_depths = project_data.df_sm_data.depth_cm.unique()
    for probe_depth in probe_depths:
        probe_events_list = []
        
        if debug:
            print("\nprobe_depth", probe_depth)
            
        probe_dict = {}
        counter = 0
        probe_depth_index = list(probe_depths).index(probe_depth)
        
        for irr_event_counter,row in project_data.df_irrigation.iterrows():
            #probe_depth = project_data.df_sm_data.depth_cm.unique()[0]
            probe_local_saturation = project_data.local_saturation_by_depth[probe_depth_index][1]
            df = project_data.multi_depths_sm[probe_depth].reset_index(drop=False)
            df['date'] = df.local_time.dt.date

            if row['amount'] > MIN_IRR_AMOUNT:
                #################################
                # Not responding conditions:
                #
                # time frame irrigation span -1hr/ +3hr
                # soil moisture hourly diff > SM_HOURLY_DIFF according to depth
                # initial probe moisture is less than local saturation minus 0.5%
                #################################
                df_irr_span = df[(df.local_time > project_data.df_irrigation.start[irr_event_counter] - pd.Timedelta(hours=1)) 
                                 & (df.local_time < project_data.df_irrigation.end[irr_event_counter] + pd.Timedelta(hours=4))
                                ]
                if debug:
                    display(project_data.df_irrigation.start[irr_event_counter],project_data.df_irrigation.end[irr_event_counter],
                            df_irr_span)
                
                
                SM_HOURLY_DIFF = SM_HOURLY_DIFF_FIRST_DEPTH if probe_depth_index==0 else SM_HOURLY_DIFF_SECOND_DEPTH
                probe_dict['remarks'] = ''
                # check if probe responding = at least one hourly diff above SM_HOURLY_DIFF
                if max(df_irr_span.sm_diff) < SM_HOURLY_DIFF:
                    # check if the probe initial moisture is near local saturation 
                    if ("not_responding" in project_data.flag) | (max(df_irr_span.sm_val.iloc[:3]) < probe_local_saturation - 0.5):
                        counter+=1 # Not responding to irrigation
                        not_responding_sensor_id = int(project_data.df_sm_data[project_data.df_sm_data['depth_cm']==probe_depth].loc[0,'sensor_id'])
                        probe_events_list.append((probe_depth,project_data.df_irrigation.start[irr_event_counter]))
                        event_timestamp.add(project_data.df_irrigation.start[irr_event_counter])
                        probe_dict['remarks'] = 'Not responding to irrigation'
                # Find sensors with low response (short peak in sensor graph)
                    if (max(df_irr_span.sm_diff) > SM_HOURLY_DIFF*LOW_RESPONSE_FACTOR) & (max(df_irr_span.sm_diff) < SM_HOURLY_DIFF):
                        probe_dict['remarks'] = 'Low sensor respnse'

                if debug:
                    display(f"max hourly diff: {max(df_irr_span.sm_diff)}",
                            f"probe local saturation: {probe_local_saturation}",
                            f"initial probe moisture: {max(df_irr_span.sm_val.iloc[:3])}")
                    
            probe_dict['irrigation_events'] = len(project_data.df_irrigation)
            probe_dict['not_responding_events_count'] = counter
            probe_dict['events dates'] = probe_events_list
            probe_events_dict[probe_depth] = probe_dict

    not_responding_SM_sensors_project_dict.update({'probe_depths':list(probe_depths),
                                                 'event_timestamp':event_timestamp,
                                                 'events_details':probe_events_dict})
    return(not_responding_SM_sensors_project_dict)

In [412]:
query = f"""
            SELECT serial_number as sensor_id, updated_at, status
            FROM work_order_line_items
            WHERE serial_number = '{project_data.sensor_id}'
            --AND status not in ('closed','completed')
            order by updated_at desc
            limit 1
        """
sql_importer = SqlImporter(query=query, database=c.database_ruby_production, user=c.user_production, password=c.password_production, host=c.host_production, port=c.port_production, verbose=True)

sql_importer.get_data()
sql_importer.data

Loaded table with 1 lines from work_order_line_items

  sensor_id                 updated_at status
0    934741 2023-04-27 08:52:33.235331    new

def load_project_data(project_id, min_date, max_date, min_depth=10, max_depth=91, debug=False):
    from logic_parameters import default_latitude, default_height,default_max_depth
    from project_class_data_extract import Project
    project = Project(
        project_id=project_id,
        min_depth=min_depth,
        max_depth=default_max_depth,  # set the depth range we're interested in
        min_date=min_date,
        max_date=max_date,
        debug=debug)

    project.load_project_metadata()
    project.get_sm_depths()

    if len(project.depths_found) == 0:
        project.valid_project = False
        return project

    project.load_sm_project_data(min_depth=project.depths_found[0], max_depth=project.depths_found[-1], )  # change the min/max_depth if you dont want to load all depths
    if not project.valid_project:
        return project
    #project.load_project_weather_data(future=14)  # load the weather date until max_date + 14 days.
    project.apply_transformers()
    project.group_data_to_depths()
    project.load_irrigation_spans()
    project.find_probe_local_saturation()

    project.meta_data = {'project_id': project.project_id, 'latitude': project.latitude if project.latitude else default_latitude,
                         'height': project.height if project.height else default_height, 'app_link': project.app_link}
    project.sensor_support_status_dict = project.get_sensor_support_status()

    return project

In [29]:
def transform_data(project_data, depth, max_datetime, max_history_days):
    from config.logic_parameters import max_hours_after_peak, rise_th, peak_th
    dt = DataTransformer(project_data['meta_data'], project_data['multi_depths_sm'], project_data['weather_data'], depth=depth, max_history_days=max_history_days,
                         max_datetime=max_datetime, rise_th=rise_th, peak_th=peak_th)

    dt.collect_historical_peak2rise_events()
    dt.calc_sm_diffs()
    dt.extract_data_from_p2r(max_hours_after_peak=max_hours_after_peak)
    dt.add_lower_depth_data()
    dt.add_weather_data()
    project_data.update({'model_data': dt.data})

    model_data = dict(meta_data=project_data['meta_data'], model_data=project_data['model_data'])
    run_data = {'depth': dt.depth, 'max_datetime': dt.max_datetime, 'max_history_days': dt.max_history_days}
    model_data.update(run_data)
    return model_data

In [247]:
def load_irrigation_spans(p_id):
        query = f"""
            SELECT project_id, amount, start_ts, end_ts, psi, start_date, 
            timezone('America/Los_Angeles', to_timestamp(start_ts / 1000)) start_lt,
            timezone('America/Los_Angeles', to_timestamp(end_ts / 1000)) end_lt
            FROM project_irrigation_spans_v2
            WHERE project_id = {p_id} 
            AND start_date >= CAST((CAST('2023-05-02' AS timestamp)) AS date)
            AND start_date <= CAST((CAST('2023-05-09' AS timestamp)) AS date)
        """
        query=f"""
        SELECT pis.project_id, amount, start_ts, end_ts, psi, start_date, 
            timezone('America/Los_Angeles', to_timestamp(start_ts / 1000)) start_lt,
            timezone('America/Los_Angeles', to_timestamp(end_ts / 1000)) end_lt,
            irrigation_system_type system_type
            FROM project_irrigation_spans_v2 pis
            JOIN  projects_hierachy ph
            ON pis.project_id = ph.project_id
            WHERE pis.project_id = ({p_id}) OR 
                    pis.project_id = (SELECT project_id from projects_hierachy
                    WHERE  main_project_const_id = (SELECT main_project_const_id FROM projects_hierachy WHERE project_id = {p_id})
                    AND season = 2023
                    AND project_id <> {p_id})
            AND start_date >= CAST((CAST('2023-05-02' AS timestamp)) AS date)
            AND start_date <= CAST((CAST('2023-05-09' AS timestamp)) AS date)
            ORDER BY start_date
        """

        sql_importer = SqlImporter(query=query, database=c.database_production, user=c.user_production, password=c.password_production,
                                host=c.host_production, port=c.port_production, verbose=True)

        sql_importer.get_data()
        print(sql_importer.query)
        df_irrigation = sql_importer.data
        display(df_irrigation)#.rename(columns={'start_lt': 'start', 'end_lt': 'end'}, inplace=True))

load_irrigation_spans(855929)

Loaded table with 21 lines from project_irrigation_spans_v2

        SELECT pis.project_id, amount, start_ts, end_ts, psi, start_date,
            timezone('America/Los_Angeles', to_timestamp(start_ts / 1000)) start_lt,
            timezone('America/Los_Angeles', to_timestamp(end_ts / 1000)) end_lt,
            irrigation_system_type system_type
            FROM project_irrigation_spans_v2 pis
            JOIN  projects_hierachy ph
            ON pis.project_id = ph.project_id
            WHERE pis.project_id = (855929) OR
                    pis.project_id = (SELECT project_id from projects_hierachy
                    WHERE  main_project_const_id = (SELECT main_project_const_id FROM projects_hierachy WHERE project_id = 855929)
                    AND season = 2023
                    AND project_id <> 855929)
            AND start_date >= CAST((CAST('2023-05-02' AS timestamp)) AS date)
            AND start_date <= CAST((CAST('2023-05-09' AS timestamp)) AS date)
            ORDER BY start_date

,project_id,amount,start_ts,end_ts,psi,start_date,start_lt,end_lt,system_type
0,855929,1.140883,1680813300000,1680816300000,35.968093,2023-04-06,2023-04-06 13:35:00,2023-04-06 14:25:00,drip
1,855929,1.346242,1680877800000,1680881340000,37.708484,2023-04-07,2023-04-07 07:30:00,2023-04-07 08:29:00,drip
2,855929,1.597237,1681404600000,1681408800000,41.334300,2023-04-13,2023-04-13 09:50:00,2023-04-13 11:00:00,drip
3,855929,2.395855,1681848900000,1681855200000,43.219724,2023-04-18,2023-04-18 13:15:00,2023-04-18 15:00:00,drip
4,855929,1.140883,1682095200000,1682098200000,41.334300,2023-04-21,2023-04-21 09:40:00,2023-04-21 10:30:00,drip
5,855929,1.140883,1682114100000,1682117100000,41.914431,2023-04-21,2023-04-21 14:55:00,2023-04-21 15:45:00,drip
6,855929,2.281767,1682171400000,1682177400000,34.807832,2023-04-22,2023-04-22 06:50:00,2023-04-22 08:30:00,drip
7,855929,0.000000,1682524200000,1682524200000,40.754170,2023-04-26,2023-04-26 08:50:00,2023-04-26 08:50:00,drip
8,855929,1.369060,1682607000000,1682610600000,43.074692,2023-04-27,2023-04-27 07:50:00,2023-04-27 08:50:00,drip
9,855929,1.140883,1682977800000,1682980800000,35.678028,2023-05-01,2023-05-01 14:50:00,2023-05-01 15:40:00,drip
10,855929,1.140883,1682958900000,1682961900000,34.662799,2023-05-01,2023-05-01 09:35:00,2023-05-01 10:25:00,drip
11,850352,5.960533,1683054600000,1683065160000,43.219724,2023-05-02,2023-05-02 12:10:00,2023-05-02 15:06:00,sprinkler
12,855929,1.140883,1683042300000,1683045300000,43.074692,2023-05-02,2023-05-02 08:45:00,2023-05-02 09:35:00,drip
13,855929,1.140883,1683153600000,1683156600000,35.532995,2023-05-03,2023-05-03 15:40:00,2023-05-03 16:30:00,drip
14,855929,1.140883,1683123600000,1683126600000,39.883974,2023-05-03,2023-05-03 07:20:00,2023-05-03 08:10:00,drip
15,850352,3.522133,1683232320000,1683238560000,43.219724,2023-05-04,2023-05-04 13:32:00,2023-05-04 15:16:00,sprinkler
16,855929,1.140883,1683393300000,1683396300000,34.227701,2023-05-06,2023-05-06 10:15:00,2023-05-06 11:05:00,drip
17,850352,4.267200,1683574020000,1683581580000,43.219724,2023-05-08,2023-05-08 12:27:00,2023-05-08 14:33:00,sprinkler
18,855929,0.889889,1683552300000,1683554640000,34.372734,2023-05-08,2023-05-08 06:25:00,2023-05-08 07:04:00,drip
19,855929,1.140883,1683648300000,1683651300000,41.044235,2023-05-09,2023-05-09 09:05:00,2023-05-09 09:55:00,drip
20,855929,1.140883,1683666300000,1683669300000,40.319072,2023-05-09,2023-05-09 14:05:00,2023-05-09 14:55:00,drip